:root {
  --Footer-background: #FFFFFF;
  --Footer-borderColor: #E6E6E6;

  --Footer-item-borderColor: #EBEBEB;

  --Footer-link-color: #22232B;
  --Footer-link-onHover-color: #6C46B9;

  --Footer-mail-color: #6C46B9;
  --Footer-mail-onHover-color: #22232B;

}

.rcap-Footer {
  background: var(--Footer-background);
  border: 1px solid var(--Footer-borderColor);
  text-transform: uppercase;
  font-size: 10px;
  padding: 29px 0;
}

.rcap-Footer-desktop {
  display: flex;
}

.rcap-Footer-mobile {
  display: none;
}

.rcap-Footer-mobile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rcap-Footer-mobile-bottom {

}

.rcap-Footer-item {
  border-right: 1px solid var(--Footer-item-borderColor);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rcap-Footer-item--logo {
  padding: 0 26px 0 126px;
}

.rcap-Footer-item--around {
  justify-content: space-around;
}

.rcap-Footer-item--links {
  padding: 0 31px;
}

.rcap-Footer-item:last-child {
  border-right: none;
}

.rcap-Footer-link {
  color: var(--Footer-link-color);
  padding: 0 20px;
  text-decoration: none;
}

.rcap-Footer-link:hover {
  color: var(--Footer-link-onHover-color);
}

.rcap-Footer-mail {
  color: var(--Footer-mail-color);
  font-weight: 600;
}

.rcap-Footer-mail:hover {
  color: var(--Footer-mail-onHover-color);
}

.rcap-Footer-social {
  padding: 0 22px;
}

@media (max-width: 1250px) {
  .rcap-Footer-desktop {
    display: none;
  }

  .rcap-Footer-mobile {
    display: block;
  }

  .rcap-Footer-social {
    padding: 0;
  }

  .rcap-Footer-social img {
    height: 16px;
  }
}
