:root {
  --Header-backgroundColor: #ffffff;
}

.rcap-Header {
  background: var(--Header-backgroundColor);
  padding: 32px 0 20px;
}

.rcap-Header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
}

.rcap-Header-top-menu {
  display: none;
}

.rcap-Header-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .rcap-Header-top-right-nav,
  .rcap-LanguageSelect {
    display: none;
  }

  .rcap-Header-top-menu {
    display: block;
  }
}







.rcap-Header-middle {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 31px;
}

.rcap-Header-middle-search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 875px;
}

.rcap-Header-middle-sort {
  width: 100%;
  max-width: 110px;
  margin-right: 23px;
}

.rcap-Header-middle-view {
  align-self: center;
  padding: 7px 0 0;
}

.rcap-Header-middle-view button:first-child {
  margin-right: 30px;
}

.rcap-Header-middle-search-btn {
  margin-right: 40px;
}

.rcap-Header-middle-search-input {

}

@media (max-width: 1250px) {
  .rcap-Header-middle-view {
    display: none;
  }
  .rcap-Header-middle-search-btn {
    margin-right: 20px;
  }
  .rcap-Header-middle-search {
    max-width: 200px;
  }
  .rcap-Header-middle-sort {
    margin-right: 0;
  }
}







.rcap-Header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rcap-Header-bottom-type {
  max-width: 160px;
  width: 100%;
}

.rcap-Header-bottom-favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rcap-Header-bottom-favorite button {
  margin-right: 16px;
}

@media (max-width: 1250px) {
  .rcap-Header-bottom {
    flex-flow: wrap;
  }
  .rcap-Header-bottom-checkBox {
    order: 1;
    margin-bottom: 25px;
  }
  .rcap-Header-bottom-type {
    order: 2;
  }
  .rcap-Header-bottom-favorite {
    order: 3;
  }
  .rcap-Header-bottom-favorite span {
    display: none;
  }
}




