:root {
  --Main-background: #F6F8FD url("../../img/backgrounds/bg.svg") 102% 77px no-repeat;
}

.rcap-Main {
  background: var(--Main-background);
  padding: 24px 0 102.5px;
}

.rcap-Main-wp {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.rcap-Main-wp-aside {
  width: 24%;
}

.rcap-Main-wp-article {
  width: 76%;
  padding-left: 29px;
}

.rcap-Main-wp-article-wp {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.rcap-Main-wp-article-wp-item {
  width: 32%;
}
