.u-wp {
  margin: 0 auto;
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
}

.u-dfBtw {
  display: flex;
  justify-content: space-between;
}

.u-dfStart {
  display: flex;
  justify-content: start;
}

.u-dfBtwCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.u-w100p {
  width: 100%;
}



@media (max-width: 1250px) {
  .u-wp {
    max-width: 375px;
    padding: 0 14px;
  }
}
