:root {
  --Btn--icon-color: #FFFFFF;
  --Btn--icon-boxShadow: 3px 6px 12px rgba(68, 68, 68, 0.12);
}



.rcap-Btn {
  border: none;
  background: none;
  padding: 0;
}

.rcap-Btn:hover  {
  opacity: .9;
}

.rcap-Btn:active {
  opacity: .8;
}

.rcap-Btn--outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px 18px;
  font-size: 14px;
  font-weight: 700;
}

.rcap-Btn--signIn img {
  margin: -4px 10px 0 0;
}

.rcap-Btn--icon {
  background: var(--Btn--icon-color);
  box-shadow: var(--Btn--icon-boxShadow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
}

.rcap-Btn--icon:active {
  box-shadow: none;
}

.rcap-Btn--icon img {
  width: 25px;
}

.rcap-Btn--icon--rect {
  border-radius: 10px;
}



@media (max-width: 1250px) {
  .rcap-Btn--signIn span {
    display: none;
  }
  .rcap-Btn--signIn img {
    margin: -4px 0 0 0;
  }
}
