:root {
  --BtnFill-color: #383B48;

  --BtnFill-icon--select-borderColor: #FFFFFF;

  --BtnFill-primary-color: #FFFFFF;
  --BtnFill-primary-boxShadow: 0 8px 8px rgba(67, 66, 93, 0.25);

  --BtnFill-accent-color: #FFFFFF;
}



.rcap-BtnFill {
  color: var(--BtnFill-color);
  background: none;
  border: none;
  padding: 0;
  height: 42px;
  line-height: 42px;
  min-width: 42px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  position: relative;
  transition: all 100ms linear;
}

.rcap-BtnFill:hover {
  opacity: .9;
}

.rcap-BtnFill:active {
  opacity: .8;
  box-shadow: none;
}

.rcap-BtnFill--search {
  height: 49px;
  line-height: 49px;
  border-radius: 6px;
  font-size: 14px;
}

.rcap-BtnFill--view {
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  font-size: 11px;
}

.rcap-BtnFill-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.rcap-BtnFill-icon--select {
  left: initial;
  right: 20px;
}

.rcap-BtnFill-icon--select:after {
  border-bottom: 2px solid var(--BtnFill-icon--select-borderColor);
  border-left: 2px solid var(--BtnFill-icon--select-borderColor);
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  position: relative;
  top: -2px;
  transform: rotate(-45deg);
}

.rcap-BtnFill--view.is-active .rcap-BtnFill-icon--select:after {
  border-bottom-color: var(--accent-color);
  border-left-color: var(--accent-color);
  top: 0;
  transform: rotate(135deg);
}

.rcap-BtnFill[data-color="primary"] {
  background: var(--primary-gradient);
  color: var(--BtnFill-primary-color);
  box-shadow: var(--BtnFill-primary-boxShadow);
}

.rcap-BtnFill[data-color="accent"] {
  background: var(--accent-gradient);
  color: var(--BtnFill-accent-color);
  border: 1px solid var(--accent-color);
}

.rcap-BtnFill[data-color="accent"].is-active {
  color: var(--accent-color);
  background: none;
}


