:root {
  --Filter-background: #FFFFFF;
  --Filter-after-background: #FFFFFF;
}

.rcap-Filter {
  background: var(--Filter-background);
  border-radius: 6px;
  padding: 25px 25px 13px;
  position: sticky;
  top: 10px;
}

.rcap-Filter:after {
  background: var(--Filter-after-background);
  content: "";
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 24px;
  height: 24px;
  border-top-right-radius: 3px;
}

.rcap-Filter-item {
  margin-bottom: 10px;
}

.rcap-Filter-item--two {
  display: flex;
  justify-content: space-between;
}

.rcap-Filter-item-select {
  flex: 1;
}

.rcap-Filter-item--two .rcap-Filter-item-select:nth-child(odd) {
  margin-right: 17px;
}

.rcap-Filter-buttons {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

