:root {
  --Input-fontSize: 17px;
  --Input-color: #22232B;
  --Input-placeholder-color: #22232B;
  --Input-borderBottomColor: rgba(27, 27, 27, 0.1);
  --Input-onFocus-borderBottomColor: #1B1B1B;
}

.rcap-Input {
  font-size: var(--Input-fontSize);
  color: var(--Input-color);
  border: none;
  border-bottom: 1px solid var(--Input-borderBottomColor);
  font-family: 'Poppins', sans-serif;
  padding: 8px 0;
  width: 100%;
}

.rcap-Input::placeholder {
  color: var(--Input-placeholder-color);
  opacity: 1;
}


.rcap-Input:focus {
  border-bottom: 1px solid var(--Input-onFocus-borderBottomColor);
}
