:root {
  --NavItem-color: #22232B;
  --NavItem-fontSize: 14px;
}

.rcap-Nav {
  margin-right: 22px;
}

.rcap-Nav-item {
  color: var(--NavItem-color);
  font-size: var(--NavItem-fontSize);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px 21px;
}

.rcap-Nav-item.is-active {
  color: var(--primary-color);
}

.rcap-Nav-item.is-active:after {
  background: var(--primary-color);
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 50%;
  height: 2px;
}

.rcap-Nav-item:hover {
  color: var(--primary-color);
}

.rcap-Nav-item-easteregg {
  font-size: 1px;
  vertical-align: top;
}
