// App colors
$--primary-color: #6b1d57;
$--primary-gradient: linear-gradient(45deg,  #33176c 0%,#6b1d57 100%);
$--accent-color: #8fb946;
$--accent-gradient: linear-gradient(to right, #74b946 0%,#8fb946 100%);


// Screen size
$screen-sm: 375;
$screen-lg: 1920;


// Buttons transition
$btnTransition: all 100ms linear;
