$--Btn--icon-color: #FFFFFF;
$--Btn--icon-boxShadow: px2vw-lg(3px) px2vw-lg(6px) px2vw-lg(12px) rgba(68, 68, 68, 0.12);



.rcap-Btn {
  @include btnEvents();
  border: none;
  background: none;
  padding: 0;

  &--outline {
    border: px2vw-lg(1px) solid $--primary-color;
    color: $--primary-color;
    text-transform: uppercase;
    border-radius: px2vw-lg(5px);
    padding: px2vw-lg(15px) px2vw-lg(18px);
    font-size: px2vw-lg(14px);
    font-weight: 700;
  }

  &--signIn img {
    margin: px2vw-lg(-4px) px2vw-lg(10px) 0 0;
  }

  &--icon {
    @extend %u-dfCenterCenter;
    background: $--Btn--icon-color;
    box-shadow: $--Btn--icon-boxShadow;
    width: px2vw-lg(40px);
    height: px2vw-lg(40px);
    border-radius: 50%;
    transition: $btnTransition;
  }

  &--icon:active {
    box-shadow: none;
  }

  &--icon img {
    width: px2vw-lg(25px);
  }

  &--icon--rect {
    border-radius: px2vw-lg(10px);
  }
}
