$--Logo-figure-caption-color: #9F9F9F;
$--Logo-figure-caption-title-color: #000603;



.rcap-Logo {
  text-decoration: none;
  text-align: left;

  &-figure {
    @extend %u-dfCenterStart;
  }

  &-figure-img {
    margin-right: px2vw-lg(8px);
  }

  &-figure-caption {
    color: $--Logo-figure-caption-color;
    font-size: px2vw-lg(12px);
  }

  &-figure-caption-title {
    color: $--Logo-figure-caption-title-color;
    display: block;
    font-weight: 600;
  }
}

